.swatch-attribute, .text-attribute{
    display: flex;
    margin: 0 0 2.1rem 0;
    flex-direction: row;
}

.text-attribute{
    gap: 0.75rem;
}

.attribute-item.text-item{
    border: 1px solid #1D1F22;
    color: var(--default-text-color);
    padding: 0.5rem;
    font-family: var(--font-family-sourceSans);
    font-size: var(--font-size-light);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-light);
    letter-spacing: 0.05em;
    cursor: pointer;
}

.swatch-attribute{
    gap: 0.5rem; 
}

.attribute-item.swatch-item{
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    outline-offset: 1px;
    cursor: pointer;
}

.active.text-item, .text-item:hover{
    color: #FFFFFF;
    background-color: #1D1F22;
}


.active.swatch-item, .swatch-item:hover{
    transition: all 0.9ms ease-in;
    outline: 2px solid #5ECE7B;
}