@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --default-text-color: #1D1F22;
    --active-text-color: #5ECE7B;
    --font-family-raleway: "Raleway";
    --line-height: 19.2px;
    --font-weight-button: 400;
    --font-family-roboto: "Roboto", sans-serif;
    --font-size-button: 0.9rem;
    --font-weight-button: 600;
    --line-height-cart: 1rem;
}
.cart-modal {
    position: fixed;
    top: 66px;
    right: 0;
    width: 300px;
    max-height: 80vh; /* Adjust this value as needed */
    background-color: #FFFFFF;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content overflows */
    margin-right: 4.5rem;
    z-index: 1000;
    cursor: default;
}
.cart-header{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.cart-title{
    color: var(--default-text-color);
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 700;
    text-align: right;
}

.cart-comma{
    color: var(--default-text-color);
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: right;
}

.cart-item-count{
    color: var(--default-text-color);
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: right;
}

.cart-product {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 2rem;
}
  

.cart-product-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}


.cart-product-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-product-title {
    font-family: var(--font-family-raleway);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.8rem;
    text-align: left;
    color:var(--default-text-color);
}

.product-detail-price{
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: left;
    color: var(--default-text-color);
}

.attribute{
    margin-top: 0.5rem;
}


.cart-text-item:hover, .cart-swatch-item:hover{
    pointer-events: none;
}

.cart-swatch-attribute, .cart-text-attribute{
    display: flex;
    margin: 0 0 0.5rem 0;
    flex-direction: row;
    gap: 0.5rem;
    cursor: default;
}

.active.cart-text-item{
    color: #FFFFFF;
    background-color: #1D1F22;
}

.cart-attribute-item.cart-text-item{
    border: 1px solid #1D1F22;
    padding: 0.1rem;
    font-family: var(--font-family-sourceSans);
    font-size: var(--font-size-light);
    font-weight: var(--font-weight-light);
    line-height: 1.4rem;
    text-align: center;
}

.cart-attribute-item.cart-swatch-item{
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    outline-offset: 1px;
    cursor: default;
}

.active.cart-swatch-item{
    outline: 2px solid #5ECE7B;
}

.attribute-id{
    font-family:var(--font-family-raleway);
    font-size:0.9rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    color: var(--default-text-color);
}

.cart-product-quantity {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.cart-product-button {
    width: 30px;
    height: 30px;
}

.cart-product-image img {
    width: 50px;
    height: 50px;
}

.cart-price{
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-total{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1rem;
    text-align: left;
    font-family: var(--font-family-roboto);
    margin: auto 0;
    color: var(--default-text-color);
}

.cart-total-price{
    font-family: var(--font-family-raleway);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    margin: auto 0;
    color: var(--default-text-color);
}

.cart-place-order {
    font-family:var(--font-family-raleway);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    line-height: var(--line-height-cart);
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: #5ECE7B;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}
  