@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --default-text-color: #1D1F22;
    --font-family: "Raleway";
    --line-height: 1.8rem;
    --font-weight-medium: 400;
    --font-weight-medium-light: 300;
    --font-size: 1.125rem;
}

.category-name{
    margin-left: 6.3125rem;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family);
    line-height: 4.2rem;
    font-size: 2.625rem;
    margin-top: 5rem;
    margin-bottom: 6.4rem;
    color: var(--default-text-color);
}

.grid-container{
    margin: 0 6.25rem 12rem 6.25rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(386px, 1fr));
    display: grid;
    grid-column-gap: 2.5rem;
    grid-row-gap: 6.5rem;
}

.grid-product {
    cursor:pointer;
    position: relative;
    padding: 1rem;
    display: flex; /* Enables flexbox on the grid item */
    flex-direction: column; /* Aligns content in a column */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    width: 100%; /* Makes sure grid item takes full width of its cell */
    height: 100%; /* Makes sure grid item takes full height of its cell */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    position: relative; /* Needed for absolute positioning of the cart icon */
    overflow: hidden;
}

.product-image {
    width: 100%; /* Makes image take full width of its container */
    height: auto; /* Keeps image aspect ratio while filling width */
    object-fit: cover; /* Ensures image covers the area without distortion */
    margin-bottom: 1.5rem;
}

.product-details{
    margin: auto auto 0 0;
}

.product-name{
    color: var(--default-text-color);
    font-weight: var(--font-weight-medium-light);
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);
    margin: 0;
}

.product-price{
    color: var(--default-text-color);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);
    margin: 0;
}

.grid-product:hover{
    box-shadow: 0 8px 16px 0 #A8ACB030;
}

.cart-icon {
    position: absolute; /* Absolute positioning for overlay effect */
    bottom: 4.5rem; /* Adjust as needed */
    right: 2rem; /* Adjust as needed */
    width: 52px; /* Adjust size as needed */
    height: 52px; /* Maintain aspect ratio */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for appearance */
    cursor: pointer; /* Pointer cursor to indicate clickability */
}

.out-of-stock{
    position: absolute;
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    line-height: 2.4rem;
    color: #8D8F9A;
}

.product-out-of-stock .product-image{
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #C4C4C4;
}

.grid-product.product-out-of-stock .cart-icon {
    display: none;
}

.grid-product.product-out-of-stock .product-price {
    color: #8D8F9A;
}

.grid-product:hover .cart-icon {
    opacity: 1;
}