@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 101px;
}

ul{
    list-style-type: none;
}
/*1rem=16px*/

li{
    display: inline;
    /*top right bottom left*/
    padding: 0.25rem 1rem 2rem 1rem;
    font-family: "Raleway";
    line-height: 19.2px;
}

