@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --default-text-color: #1D1F22;
    --active-text-color: #5ECE7B;
    --font-family-raleway: "Raleway", sans-serif;
    --font-family-robotoCon: "Roboto Condensed", sans-serif;
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-sourceSans: "Source Sans 3", sans-serif;
    --font-size-light: 1rem;
    --font-size-medium: 1.125rem;
    --line-height-light: 1.125rem;
    --font-weight-strong: 700;
    --font-weight-semi-strong: 600;
    --font-weight-light: 400;
}

.grid-product-detail{
    display: grid;
    margin: 5rem 15.3rem 14.5rem 2.5rem;
    grid-template-columns: repeat(3, minmax(386px, 1fr));
}

.product-detail-name{
    font-family: var(--font-family-raleway);
    font-size: 1.875rem;
    font-weight: var(--font-weight-semi-strong);
    line-height: 1.7rem;
    margin-bottom: 2rem;
    margin-top: 0;
} 

.attribute-id, .price-label{
    font-family: var(--font-family-robotoCon);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-strong);
    line-height: var(--line-height-light);
    margin: 0 0 0.5rem 0;
}

.text-item{
    font-family:var(--font-family-sourceSans);
    font-size: var(--font-size-light);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-light);
    letter-spacing: 0.05em;
}

.product-detail-price{
    margin: 0;
    font-family: var(--font-family-raleway);
    font-size: 1.5rem;
    font-weight: var(--font-weight-strong);
    line-height: var(--line-height-light);
}

.price-label{
    margin:0;

}

.cart-button{
    margin-top: 1.25rem;
    background-color: #5ECE7B;
    margin-top: 1.25rem;
    border: none;
    color:#FFFFFF;
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-light);
    font-weight: var(--font-weight-semi-strong);
    line-height: 1.2rem;
    padding: 1rem 2rem;
    width: 50%;
    cursor: pointer;
}

.product-detail-description{
    margin: 2.5rem 0 0 0;
    color: black;
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-light);
    font-weight: var(--font-weight-light);
    line-height: 1.6rem;
}